<include file="Public/header" title="我的桌面" />
<div class="page-container">
	<p class="f-20 text-success">欢迎使用睡眠宝后台管理系统</p>
	<p>登录次数：{:($user['login_times']+1)}</p>
    <p><table>
    <tr>
        <td>
            <div id="container1" style="min-width: 310px; height: 300px; width: 600px; margin: 0 "></div>
        </td>
        <td>
            <div id="container3" style="min-width: 310px; height: 300px; width: 600px; margin: 0 "></div>
        </td>
        </tr>
    <tr>
        <td>
            <!--<div id="container2" style="min-width: 310px; height: 300px; width: 600px; margin: 0 "></div>-->
        </td>
        <td>
            <!--<div id="container4" style="min-width: 310px; height: 300px; width: 600px; margin: 0 "></div>-->
        </td>
    </tr>
    </table>
    <table>
    <tr>
        <td>
            <div id="container5" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        </td>
    </tr>
</table>
    </p>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>本后台系统由<strong>北京三生科技有限公司</strong>技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/Highcharts/4.1.7/js/highcharts.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/Highcharts/4.1.7/js/modules/exporting.js"></script>
<script type="text/javascript">
    $(function () {
        $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '患者年龄分布图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: {$age}
            }]
        });
        $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '患者使用呼吸机型号比例图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Microsoft Internet Explorer',
                    y: 56.33
                }, {
                    name: 'Chrome',
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Firefox',
                    y: 10.38
                }, {
                    name: 'Safari',
                    y: 4.77
                }, {
                    name: 'Opera',
                    y: 0.91
                }, {
                    name: 'Proprietary or Undetectable',
                    y: 0.2
                }]
            }]
        });
        $('#container3').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '患者性别比例图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: {$gender_chart}
            }]
        });
        $('#container5').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '各省份患者统计信息一览'
            },
            subtitle: {
//                text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '人数'
                }
            },
            legend: {
                enabled: true,
            },
            tooltip: {
                pointFormat: '患者有: <b>{point.y:1f} 人</b>'
            },
            series: [{
                name: '患者所在城市柱状图',
                data: {$prov},
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
        $("text").each(function(){
            if($(this).text() == 'Highcharts.com'){
                $(this).remove();
            }
        }
        );
    });
</script>
<include file="Public/footer"/>