<include file="Public/header" title="Gallery" />
<!---->
<div class="gallery">
	 <div class="container">
		 <h2>Gallery</h2>
		 <div class="gallery-bottom">
				<div class="gallery-1">
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g2.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g2.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g1.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g1.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g3.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g3.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g4.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g4.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g5.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g6.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g6.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g9.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g9.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g7.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g7.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g4.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g4.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g7.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g7.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g5.jpg" alt=""/></a>
					</div>
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="__PUBLIC__/Home/images/g8.jpg" data-lightbox="example-set"><img class="example-image" src="__PUBLIC__/Home/images/g8.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>				
		 </div>
	 </div>
</div>	
<script src="__PUBLIC__/Home/js/lightbox-plus-jquery.min.js"></script>

<include file="Public/footer"  />