<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>华艺跨年盛典-转盘大抽奖</title>

	<link href="__PUBLIC__/Home/css/style_lottery.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />

	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/awardRotate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script>
</head>
<body  style="background-color: red;">
	<div class="container" style="text-align: center;color: white">

        <h3>华艺跨年盛典-转盘大抽奖<br />活动说明</h3>
        <div class="media in-media" style="text-align: left">
            <p>华艺跨年盛典报名大惠三天!</p>
            <p>机不可失，失不再来！</p>
            <p>1.活动时间:16年12月31日——17年1月2日</p>
            <p>2.活动地点:临沂市经开区香港路与沈阳路交汇南200米路东沿街华艺书画教育</p>
            <p>3.活动方式:现场抽奖+网络抽奖</p>
            <p>4.参与人员:华艺已报名在校生，未报名学员（欢迎转介绍）</p>
            <p>5.活动规则:来参与活动的每个意向学员限抽奖一次，抽奖前填好登记表）</p>
            <p>6.奖项设置:周六周日全年班单科原价报名2400元，双科4800元。</p>
            <p>寒假班原价单科498元（8次课），双科698元（16次课）</p>
            <p>现场抽奖可获得精美礼品一份！</p>
            <p></p>
            <p>【特等奖】</p>
            <p>全年双科班3198元（省1600元）40名额</p>
            <p>【跨年奖】</p>
            <p>寒假班单科298元（省200元）40名额</p>
            <p>【一等奖】</p>
            <p>全年班1599元（省800元）60名额；</p>
            <p>【二等奖】</p>
            <p>全年班1799元（省600元）100名额；</p>
            <p>【三等奖】</p>
            <p>全年班1999元（省400元）200名额；</p>
            <p>【四等奖】</p>
            <p>全年班2199元（省200元）300名额。</p>
            <p></p>
            <p>课程设置：A：硬笔书法 B：软笔书法 C：美术绘画</p>
            <p>全年班（共64次课，192课时）包含寒假班8次课，暑假班20次课周六周日班36次，小班化教学，基础班，强化班＜＝20人</p>
            <p>上课时间</p>
            <p>周六 上午 9:00——12:00</p>
            <p>（涵盖课程：国画，硬笔，软笔）</p>
            <p>周六 下午 13:30——16:30</p>
            <p>（涵盖课程：硬笔，硬笔，软笔）</p>
            <p>周日 上午 9:00——12:00</p>
            <p>（涵盖课程：国画，硬笔，软笔）</p>
            <p>周日 下午 13:30——16:30</p>
            <p>（涵盖课程：国画，硬笔，软笔）</p>
            <p></p>
            <p>注:该活动只针对周六周日白天班设置。</p>
            <p>现场报名3200元即可一年学两科，或单科学两年；</p>
            <p>活动报名时间仅限元旦三天</p>
            <p>16年12月31日0点---17年1月2日晚24点以前报名有效！</p>
            <p>逾时不缴费的，视自动放弃优惠，老生抽到优惠可提前缴下一年学费，也可选择其他科目学习</p>
            <p>网上报名缴费渠道</p>
            <p>1.农行卡号:622848 182860 1360871</p>
            <p>户名:李进</p>
            <p>2.微信转账:   15562959553</p>
            <p>3.支付宝转账: 15562959553</p>
            <p>户名:李进</p>
            <p>抽奖后现场报名请到华艺书画教育</p>
            <p>地址:临沂市经开区香港路与沈阳路交汇南200米路东沿街</p>
            <p></p>
            <p>1.硬笔书法:杨老师:</p>
            <p>电话15253965617 微信:hy15253965617</p>
            <p>QQ:2646378089 邮箱:2646378089@qq.com</p>
            <p>2.软笔书法:吕老师</p>
            <p>电话:18866917758 微信:lp18866917758</p>
            <p>QQ:290235773邮箱:lvpingsf@qq.com</p>
            <p>3.国画:李老师</p>
            <p>电话:15020955978 微信:15562959553</p>
            <p>QQ:931610516 邮箱:lijinshufa@126.com</p>
            <p></p>
            <p></p>
            <p>最终解释权归华艺书画教育所有。</p>
        </div>

		</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
</script>
</body>
</html>